/* ============================================= */
/*              Base styles                      */
/* ============================================= */
@import '../utilities/variables',
        '../utilities/mixins';
* {
    font-family:$font-main;
    color: $color-main;
    box-sizing: border-box;
  }
  
  p {
    line-height: 1.45rem;
    font-size: 110%;
    color: $color-secondary;
  }
 
  
  a {
    text-decoration: none;
    color:$color-link;
     &:hover{
      color:rgba($color-link-hover, 0.7);
     }
  }

  

/* ============================================= */
/*              Typography                       */
/* ============================================= */

.headline-primary {
    color:$color-primary;
    margin-left: 10px;
  }
  
  .headline-secondary {
    font-weight: 300;
    color: $color-secondary;
  }
  
  .link {
    color: $color-link;
    font-weight: 700;
  }
  
  .blockquote {
    @include text-shade;
    font-size: 1.5em;
    font-weight: 300;
    font-style: italic;
    margin-left: 20px;
    padding-left: 20px;
    border-left: 8px solid $color-primary;
    border-radius: 5px;
  }
  h1{
    font-size: 250%;
    color: $color-secondary;
    transition: transform .5s ease-out;
    &:hover{
      transform: scaleY(1.1);  
    }
  }
 